@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*@media screen and (min-width:600px){
  .myInfo{
    font-size: 15px;
    margin-left:20px;
  }

  .myImage{
    width:30vh;
  }
}*/



div{
  background-color: black !important;
}

/* Home Page */

#logo{
  height:80px;
  width: 70px;
}


/*Navigation-menu*/
.nav-menu{
  background-color: #070F2B;
  height:60px;
  display:flex;
  justify-content: end;
  align-items: center;
  width:100%;
}

.nav-menu a{
  text-decoration: none;
  color:#F9F5F6;
  font-family: "Poppins", sans-serif;
  padding:0 30px 0 30px;
  font-size: 13pt;
  max-width: auto;
}

.nav-menu a:hover{
  color:#ECF9FF;
  cursor:pointer;
}

/* Home-background*/

.home-page{
  background-color: black !important;
  width:auto;
  color:#F9F5F6;
}

/*Image*/
.myImage{
  width:50vh;
  display:flex;
  justify-content: center;
  float:right;
  margin:0px 80px;
  flex-direction: column-reverse;
  
}


.myInfo{
  margin:150px 80px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.myInfo p{
  overflow: hidden;
  animation: 
    typing 2.5s steps(100),
    blink-caret .75s step-end infinite;
    font-size: 20px;
}

.myInfo h2{
  font-weight: bold;
  font-size: 40px;
  padding:10px;
  
}


@keyframes typing {
  from { width: 300px }
  to { width: 100% }
}


.button-cv{
  margin: 40px auto;
  text-align: center;
  width:150px;
  padding:10px;
  font-weight: bolder;
  border: 1px solid #F9F5F6;
  border-radius:20px;
}

#download-img{
  padding-left:5px;
  width:18px;
}

.contact-section{
  width:100%;
  height:auto;
  padding:20px;
}

.contact-section h2{
  color:white;
  text-align: center;
  font-size:30px;
}

.Icons{
  display:flex;
  justify-content: space-around;
  padding:10px;
  margin:0 550px;
}

.Icons img{
  border:1px solid azure;
  border-radius:60px;
  cursor:pointer;
}

.Icons img:hover{
 background-color:mintcream;
 zoom:1.2;
}

#myMail{
  text-align:center;
  margin-left:530px;
  margin-top:-40px;
}
