@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

  font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}

:root{
  --white: #F9F5F6;
  --black: #000000;
  --nav-menu: #ECF9FF;
  --nav-bg:#070F2B;
  --icons:azure;
  --icons-hover:mintcream;
  --font-family: "Noto Sans", sans-serif;
  --nav-font-family: "Poppins", sans-serif;
}

@media screen and (min-width:600px){
  .myInfo{
    font-size: 15px;
    margin-left:20px;
  }

  .myImage{
    width:30vh;
  }
}



div{
  background-color: var(--black) !important;
}

/* Home Page */

#logo{
  height:80px;
  width: 70px;
}


/*Navigation-menu*/
.nav-menu{
  background-color: var(--nav-bg);
  height:60px;
  display:flex;
  justify-content: end;
  align-items: center;
  width:100%;
}

.nav-menu a{
  text-decoration: none;
  color:var(--white);
  font-family: var(----nav-font-family);
  padding:0 30px 0 30px;
  font-size: 18pt;
  max-width: auto;
}

.nav-menu a:hover{
  color:var(--nav-menu);
  cursor:pointer;
}

/* Home-background*/

.home-page{
  background-color: var(--black) !important;
  width:auto;
  color:var(--white);
}

/*Image*/
.myImage{
  width:48vh;
  display:flex;
  justify-content: center;
  float:right;
  margin:0px 88px;
  flex-direction: column-reverse;
  
}


.myInfo{
  margin:150px 80px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.myInfo p{
  overflow: hidden;
  animation: 
    typing 2.5s steps(100),
    blink-caret .75s step-end infinite;
    font-size: 30px;
}

.myInfo h2{
  font-weight: bold;
  font-size: 50px;
  padding:10px;
  
}


@keyframes typing {
  from { width: 700px }
  to { width: 100% }
}


.button-cv{
  margin: 40px auto;
  text-align: center;
  width:180px;
  padding:10px;
  font-weight: bolder;
  font-size:18px;
  border: 1px solid var(--white);
  border-radius:20px;
}

#download-img{
  padding-left:5px;
  width:18px;
}

.contact-section{
  width:100%;
  height:auto;
  padding:20px;
}

.contact-section h2{
  color: var(--white);
  margin: 10px 100px;
  font-size:38px;
  text-align: center;
}

.Icons{
  margin:50px 150px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  
}

.Icons img{
  border:1px solid var(--icons);
  border-radius:60px;
  cursor:pointer;
}

.Icons img:hover{
 background-color:var(--icons-hover);
 zoom:1.2;
}

/* Portfolio section */

.portfolio{
  width:40%;
  height:300px;
  border:1px solid var(--white);
  margin:auto;
  border-radius:10px;
  background-color: #070F2B;
  padding:50px;
}

.portfolio h3{
  text-align:center;
  font-size: 40px;
  font-weight:400;
  font-family: var(--nav-font-family);
}

.portfolio p{
  text-align:center;
  padding:20px;
  font-size:20px;
  font-family: var(--font-family);
}

.git-button{
  margin:10px 50px;
  width:30%;
  height:30px;
  border:1px solid white;
  border-radius:20px;
  cursor:pointer;
  font-weight: bolder;
}

.live-button{
  width:30%;
  height:30px;
  border:1px solid white;
  border-radius:20px;
  cursor:pointer;
  font-weight: bolder;
}

.git-button .live-button:hover{
    background-color:midnightblue;
}



